<div class="header_container">
  <div class="header_columns">
    <div class="col-1 header_column">
      <img routerLink="/" src="../../assets/top-bar/logo.jpg" alt="logo">
      <div class="header_title">
        <h3>KBTU SHOP</h3>
        <h4>Интернет-магазин всякой всячины</h4>
      </div>
    </div>
    <div class="col-2 header_column">
      <div class="social">
        <a href="#"><img src="../../assets/top-bar/social/whatsapp.png" alt=""><img src="" alt=""><img src="" alt=""></a>
        <a href="#"><img src="../../assets/top-bar/social/facebook.png" alt=""><img src="" alt=""><img src="" alt=""></a>
        <a href="#"><img src="../../assets/top-bar/social/instagram.png" alt=""><img src="" alt=""><img src="" alt=""></a>
      </div>
    </div>
    <div class="col-3 header_column">
      <h4>+7 747 457 11 09</h4>
      <button>Подать заявку</button>
    </div>
  </div>
</div>
